.form-edit {
    width: 50%;
    margin: 0 auto;
}

.form-edit__field {
    margin-bottom: 1em;
}

.form-edit__field-title {
    display: block;
}

.form-edit__field-input {
    width: 30em;
}

.form-edit__buttons input {
    margin: 0 .3em;
}