.buttons-group {
    overflow: auto;
}

.button-group__btn {
    float: left;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    border: .2em solid #737373;
    margin: 0 .1em;
    display: inline-block;
    text-align: center;
    line-height: 1.4em;
}