.contact-item {
    margin: .5em 0;
}

.contact-item__name, .contact-item__phone, .contact-item__buttons {
    float: left;
}

.contact-item__name, .contact-item__phone {
    line-height: 1.8em;
    width: 33%;
}

.contact-item__buttons {
    float: right;
}