.contact-group {
    border: .2em solid #d9edf7;
    position: relative;
    margin: 1.5em 0;
}

.contact-group__description {
    padding: .5em .5em;
    border-bottom: .2em solid #d9edf7;
    overflow: auto;
}

.contact-group__contacts {
    padding: .5em .5em;
}

.contact-group__name {
    position: absolute;
    background: white;
    top: -0.75em;
    left: .5em;
    line-height: 1.5em;
    padding: 0 1em;
}

.contact-group__description-title {
    float: left;
    line-height: 1.8em;
}

.contact-group__buttons {
    float: right;
}

.contact-group_closed .contact-group__description {
    border: none;
}